$background: #619e9e;
$darkAccent: #224b4b;
$border: 2px solid darken($background, 25%);
$shadow: 2px 2px 10px 2px darken($background, 30%);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background: lighten($background, 10%);
  overflow-x: hidden;
}

.common-style {
  border: $border;
  box-shadow: $shadow;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

main {
  margin: 2rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: lighten($darkAccent, 20%);
}

.editor-section {
  @extend .common-style;

  width: 80%;
  margin: 1rem auto;
  font-size: 1rem;

  #editor {
    height: 250px;
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 250px;
    max-height: 250px;
  }
}

.preview-section {
  @extend .common-style;

  #preview {
    line-height: 2;
  }
}

// markdown style

#preview {
  padding: 0 1rem;
  color: darken($darkAccent, 30%);

  > * {
    margin: 5px auto;
  }
  code {
    padding: 2px 10px;
    background: white;
  }

  pre {
    background: white;
    overflow: auto;
  }

  blockquote {
    margin-left: 10px;
    padding: 5px 10px;
    color: #083131;
    border-left: 3px solid $darkAccent;
  }

  table {
    border-collapse: collapse;
    border: 2px solid $darkAccent;

    td,
    th {
      padding: 5px;
      border: 2px solid $darkAccent;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul,
  ol {
    padding: auto;
  }
}
